:root {
    --primary: #141a24;
    --complimentary: #020811;
    --analogous_1: #5c474b;
    --analogous_2: #012abb;
    --analogous_2_transparent: rgb(69, 64, 40, 0.4);
    --main_text: white;
    --shadow_text: gray;

    background-color: var(--complimentary);
}

.container {
    display: flex;
    height: 100%;
}

.schema_container {
    width: 50%;
    background-color: var(--complimentary);
    border-radius: 6px;
    margin: 0.1%;
}

.headers_container {
    width: 50%;
    background-color: var(--complimentary);
    margin: 0.1%;
    border-radius: 6px;
}