.headers {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.select_file_header {
    padding: 10px;
    margin: 0.8%;

    border-radius: 6px;
    border-width: 1px;
    border-color: var(--main_text);

    color: var(--main_text);
    background-color: var(--primary);
}

.open_schema_btn {
    display: block;

    margin: 0.8%;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
}

.output_data_input {
    box-sizing: border-box;
    height: 100%;
    margin: 1%;
    padding: 10px;
    padding-left: 15px;
    border-width: 0px;
    border-radius: 6px;

    background-color: var(--primary);

    color: var(--main_text);
    font-size: 16px;
    font-family: monospace;
    resize: none;
}