.schema {
    text-align: center;
    height: 100%;
    overflow-y: scroll;
}

.schema_title {
    color: var(--main_text);
    background-color: var(--primary);
    border-radius: 6px;
    padding: 10px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.schema_description {
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 0%;

    border-radius: 6px;

    color: var(--shadow_text);

    background-color: var(--primary);
}

.schema_field {
    margin: 1%;

    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main_text);

    background-color: var(--complimentary);
}

.field_name_block {
    display: flex;

    border-bottom: 1px solid var(--shadow_text);
    border-radius: 6px;
}

.field_name_block:hover {
    background-color: var(--analogous_1);
}

.schema_field_name {
    margin: 1%;

    font-size: 20px;
    font-family: monospace;
    color: var(--main_text);
}

.schema_field_type {
    flex: 40;

    margin: 1%;

    text-align: left;
    font-size: 20px;
    font-family: monospace;
    color: var(--shadow_text);
}

.expand_btn {
    flex: 1;

    margin: 1%;

    color: var(--main_text)
}

.array_add_btn {
    display: block;
    width: 100%;

    color: var(--main_text)
}

.schema_field_description {
    display: block;

    padding: 5px;

    border-radius: 6px;

    font-size: 18px;
    color: var(--shadow_text);
}

.schema_field_input {
    box-sizing: border-box;
    width: 100%;

    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15px;

    border-width: 0px;
    border-radius: 6px;

    font-size: 16px;
    font-family: monospace;
    color: var(--main_text);

    background-color: var(--primary);
}

.schema_field_checkbox {
    appearance: none;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-color: var(--primary);
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	padding: 9px;
	border-radius: 3px;
}

.schema_field_checkbox:active {
    background-color: var(--analogous_1);
}

.schema_field_checkbox:checked {
    background-color: var(--analogous_2);
}

.schema_field_checkbox:checked:after {
    position: relative;
    left: 1px;
    bottom: 5px;
	content: '\2714';
	font-size: 18px;
    font-family: monospace;
    font: bold;
	color: #99a1a7;
}

.schema_field_contents {
    display: block;

    margin: 1%;
    padding: 5px;

    border-radius: 5px;

    background-color: var(--analogous_2);
}